<div class="row">
  <div class="span8">
    <h1>You vs. The Internet - Chess<small>Something Witty</small></h1>
  </div>
</div>
<div class="row">
  <div class="span8">
    <%= render "game" %>
  </div>
  <div class="span4">
    <%= render "notation" %>
  </div>
</div>
