<div id="chess_board">
  <% _.each(['8', '7', '6', '5', '4', '3', '2', '1'], function(rank) {
      _.each(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], function(file) { %>
  <div id="<%= file %><%= rank %>"></div>
  <% }); }); %>
</table>