<!DOCTYPE html>
<html>
<head>
  <title>WebChess</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="row">
  <div class="span8">
    <h1>You vs. The Internet - Chess<small>Something Witty</small></h1>
  </div>
</div>
  <%= yield %>
</div>

</body>
</html>
